mat-icon{
    color:red;
    font-weight: bold;
}
.closeButton{
    position: absolute;
    top: 2%;
    right:2%;
}

h2{
    text-align: center;
    margin-top: -1vh;
}

section{
    text-align: center;
}