
section{
    width:100%;
    margin-top: 5%;
}

mat-form-field{
    width:40%;
    margin-left:30%;
    text-align:left;
}

button{
    width:40%;
    height: 3em;
    margin-top:7vh;
    margin-left:30%;
    background-color: var(--primary-color-title);
    color:white;
    font-weight: 300;
    border-radius: 10px;
    font-size:1.2em;
    cursor:pointer;
    padding-bottom: 0.5em;
}

mat-icon{
    top: 0.3em;
    position: relative;
}

button:active{
    background-color: var(--primary-color);
}

.errorMessage{
    text-align: center;
    color:red;
    font-size:1.3em;
    margin-top:5%;
}


.branchName{
    text-align: right;
    line-height: 1em;
    height: 1em;
    width:60%;
    margin-left:10%;
    font-style: italic;
    font-size:1em;
}


