.mainCard{
    width:96%;
    margin-left:1%;
    background-color: white;
    margin-top:0.5vh;
}

table{
    margin-top:3vh;
    margin-bottom: 2vh;
}

td{
    height: 5vh;
}
.littleColumn{
    width: 5%;
}

.mediumColumn{
    width:11%;
}

.largeColumn{
    width: 14%;

}
