.mainCard{
    width:96%;
    margin-left:1%;
    background-color: white;
}
mat-card{
    margin-top:1vh;
    
}

.cards{
    width:98%;
    margin-bottom:2vh;
    margin-left:1vw;
}

a{
    cursor:pointer;
    text-decoration: underline black;
}