

.parent-tab-group  {
    margin-top:0.5vh;
    padding-top :0.5vh;
    background-color: white;
}
.invisible{
    color:var(--background-color);
}

.insideContent{
background-color: var(--background-color);
}

